# compiled output
/dist
/out-tsc
/target

# dependencies
/node_modules

# IDEs and editors
**/.idea/
**/*.iml
**/*.iws
**/*.ipr
.c9/
*.launch
*.sublime-workspace
.sonarlint

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
/.scannerwork

# yarn
**/yarn-error.log

# e2e
/e2e/*.js
/e2e/*.map

