/target/
**/.buildconfig
**/Thumbs.db
**/~*
**/*~
**/*.log
**/*.tmp
**/*.tmp.*
**/*.bak
**/*.old
**/asciidoc-temp*
**/.tmp/
**/tmp/
**/temp/
**/.DS_Store
**/.Trash-*


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

