# https://projectlombok.org/features/configuration
config.stopbubbling=true

# LOGGER instead of log
lombok.log.fieldname=LOGGER

# Force Slf4j
lombok.log.apacheCommons.flagUsage=error
lombok.log.flogger.flagUsage=error
lombok.log.jbosslog.flagUsage=error
lombok.log.javaUtilLogging.flagUsage=error
lombok.log.log4j.flagUsage=error
lombok.log.log4j2.flagUsage=error
lombok.log.xslf4j.flagUsage=error

# Lombok can be configured to add @lombok.Generated annotations to all generated nodes where possible; useful for JaCoCo (which has built in support), or other style checkers and code coverage tools
lombok.addLombokGeneratedAnnotation=true

# Lombok will flag any usage of any of the features listed here as a warning or error if configured. [warning | error] (default: not set)
lombok.experimental.flagUsage=warning
