<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>404 - Not Found</title>
    <style>
        body { font-family: 'Helvetica Neue', sans-serif; color: #1C2329; background-color: #EFEFEF; }
        h1 { font-size: 75px; font-weight: bold; letter-spacing: -1px; line-height: 1; }
        h4 { font-family: 'Open Sans', sans-serif; font-size: 30px; font-weight: 300; line-height: 32px; margin: 0 0 72px; }
        .container { width: 100%; line-height: 22px; margin: 0 0 20px 18px; padding: 10px 12px 8px; text-align: left; }
    </style>
</head>
<body>
<div class="container">
    <h1>😟 An error has occurred !</h1>
    <h4>Page or resource not found.</h4>
</div>
</body>
</html>
